<div class="wrapper">
    <mat-card appearance="outlined" *ngIf="cart!.length == 0" class="no-order">
        <mat-card-content>
            <h1>Cart is empty!</h1>
        </mat-card-content>
    </mat-card>
    
    <div *ngIf="cart!.length > 0">
        <div>
            <h1><i class="fa-solid fa-cart-shopping"></i> CART</h1>
            <h3>UKUPNA CENA KARATA: {{totalPrice}}RSD</h3>
            <table mat-table [dataSource]="cart!" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>
                        NAZIV FILMA:
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
    
                <ng-container matColumnDef="runTime">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-clock"></i>  TRAJANJE:
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.runTime}}min</td>
                </ng-container>
    
                <ng-container matColumnDef="scheduledAt">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-calendar-days"></i> POČETAK PROJEKCIJE:
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.scheduledAt}}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-ticket"></i>  CENA:
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.price}} RSD
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-location-arrow"></i>  OSTALO:
                    </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div>
                            <button type="button" mat-button (click)="doPay(element)">
                                <i class="fa-solid fa-cart-shopping"></i> Pay
                            </button>
                            <button type="button" mat-button (click)="doCancel(element)">
                                <i class="fa-solid fa-ban"></i> Cancel
                            </button>
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>



