:host {
    display: flex;
    flex-direction: column;
    min-height: 88.45vh;
    align-items: center; 
    background: url('https://img.freepik.com/free-photo/popcorn-cinema_23-2147988937.jpg?t=st=1742231598~exp=1742235198~hmac=bf7ca6028da03953880ac83a11510e41620d8ba6588e7643a63d13f6c5952012&w=1380') no-repeat center;
    background-size: cover; 
    background-position: center;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}


.wrapper {
    position: relative;
    z-index: 1; 
    max-width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
}
table.mat-elevation-z8 {
    margin-top: 20px; 
    border-radius: 10px; 
    overflow: hidden; 
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

th, td {
    padding: 16px; 
    text-align: center;
}




div {
    margin-top: 40px; 
    border-radius: 20px;
}



