<div class="background-image"></div>
<div class="wrapper">
    <mat-card appearance="outlined" *ngIf="cart!.length == 0" class="no-order">
            <h1>Cart is empty!</h1>
    </mat-card>

    <div *ngIf="cart!.length > 0">
        <div>
            <h1><i class="fa-solid fa-cart-shopping"></i> KORPA</h1>
            <table mat-table [dataSource]="cart!" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>
                      <i class="fa-solid fa-pen-nib"></i> Naslov
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="runTime">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-clock"></i>  Dužina trajanja filma
                    </th>
                    <td mat-cell *matCellDef="let element"> {{utils.formatRuntime(element.runTime)}}</td>
                </ng-container>

                <ng-container matColumnDef="scheduledAt">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-calendar-days"></i> Početak projekcije
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.scheduledAt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>
                        <i class="fa-solid fa-ticket"></i>  Cena karte
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.price}} RSD
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <i class="fa-solid fa-handshake"></i>  Potvrda
                    </th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <div>
                            <button type="button" mat-button (click)="doPay(element)">
                                <i class="fa-solid fa-cart-shopping"></i> Plati
                            </button>
                            <button type="button" mat-button (click)="doCancel(element)">
                                <i class="fa-solid fa-ban"></i> Otkaži
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <mat-card class="total-price-card">
        <mat-card-content>
            <div class="price-container">
                <i class="fa-solid fa-coins price-icon"></i>
                <div class="price-info">
                    <span class="price-label">Ukupna cena</span>
                    <span class="total-price">{{ totalPrice }} RSD</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>



