<mat-toolbar color="primary">
    <a routerLink="/" mat-button>
        <i class="fa-solid fa-clapperboard"></i> Cinema
    </a>
    <span class="spacer"></span>
    <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
        <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>
    <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">
        <i class="fa-solid fa-user"></i> Profile
    </a>
    <a routerLink="/cart" mat-button *ngIf="service.getActiveUser()">
        <i class="fa-solid fa-cart-shopping"></i> Cart
    </a>
    <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </button>
</mat-toolbar>

<router-outlet />