<mat-card class="auth-card">
    <mat-card-header>
        <h1>Registracija</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Odaberi omiljeni žanr</mat-label>
        <mat-select [(ngModel)]="genre">
          <mat-option *ngFor="let genre of genreNames" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Unesi svoj email..." [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Unesi svoj username..." [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Telefon</mat-label>
            <input type="number" min="0" minlength="9" maxlength="10"  matInput placeholder="Unesi svoj telefon..." [(ngModel)]="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Adresa</mat-label>
            <input type="text" matInput placeholder="Unesi svoju adresu..." [(ngModel)]="address">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Šifra</mat-label>
            <input type="password" matInput placeholder="Unesi svoj šifru..." [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Ponovi šifru</mat-label>
            <input type="password" matInput placeholder="Ponovi svoju šifru..." [(ngModel)]="repeatPassword">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-raised-button (click)="doSignup()">
            <i class="fa-solid fa-right-to-bracket"></i> Registruj se!
        </button>
        <a mat-button routerLink="/login">
            <i class="fa-solid fa-arrow-up-right-from-square"></i> Već imam nalog
        </a>
    </mat-card-actions>
</mat-card>
