html, body {
  height: 100%;
  max-width: 100%;
  background-color: #1e2124;
  color: white;
  margin: 0;
}

body, p, h1, h2, h3, h4, h5, h6, span, a {
  font-family: Palatino Linotype, "Palatino Linotype", sans-serif !important;
}

a {
  color: white;
  text-decoration: none
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.example-card {
  max-width: 400px;
}

.loading {
  text-align: center;
  width: 600px;
  height: 300px;
  align-items: center;
}

.wrapper {
  margin-top: 30px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.auth-card {
  margin-top: 30px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}
