.movie-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.opis {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-height: 100%;
}

h2 {
  text-transform: uppercase;
  margin-left: 15px;
}

.bold-text {
    font-weight: bold;
    text-transform: uppercase;
}






