.movie-card {
    width : 30%;
}

.movie-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.movie-content img {
    max-width: 620px;
}

.movie-map {
    width: auto;
    height: 100%;
}
.opis {
    word-wrap: break-word;  
    white-space: normal;    
    overflow-wrap: break-word; 
    max-height: 100%;
}
h2{
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 8px rgba(252, 239, 239, 0.3); 
    animation: shadowAnimation 2s ease-in-out infinite; 
}
.bold-text {
    font-weight: bold;
}

@keyframes shadowAnimation {
    0% {
        text-shadow: 2px 2px 8px rgba(183, 180, 180, 0.984);
    }
    50% {
        text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    }
    100% {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }
}
  
  
  
  