
<mat-card class="example-card" appearance="outlined">
    <div class="blur-bg" [style.background-image]="'url(' + movie?.poster + ')'"></div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <h2 class="naslov"><i class="fa-solid fa-masks-theater"></i> {{movie?.title}}</h2>
    </mat-card-header>
    <img [src]="movie?.poster" [alt]="movie?.title">
    <mat-card-content>
       
    <div class="genres" *ngIf="movie?.movieGenres?.length">
            <strong> Žanr : </strong>
            <span *ngFor="let genre of movie?.movieGenres; let i = index">
                {{ genre?.genre?.name }}<span *ngIf="i < (movie?.movieGenres?.length || 0) - 1">, </span>
            </span>
    </div>
    <p> </p>
    <div class="actors" *ngIf="movie?.movieActors?.length">
        <strong>Glumci: </strong>
        <span *ngFor="let actor of movie?.movieActors; let i = index">
            {{ actor?.actor?.name }}<span *ngIf="i < (movie?.movieActors?.length || 0) - 1">, </span>
        </span>
    </div>
    <p><strong>Početak prikazivanja : </strong> {{ movie?.startDate }}</p>
    <p><strong>Trajanje : </strong> {{ movie?.runTime }}</p>
    <p><strong>Režiser : </strong> {{ movie?.director?.name }}</p>
    <p><strong>Početak prikazivanja:</strong> {{ movie?.shortDescription }}</p>

    
    </mat-card-content>
   
  </mat-card>
  