<div *ngIf="error" class="container">
  <mat-card class="loading" appearance="outlined" color="red">
    <mat-card-content>
      <h1>Oops, an error occured!</h1>
      <p style="color: red;">{{error}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="wrapper" *ngIf="movie">
    <h1>{{movie.title}}</h1>
    <div class="movie-content">
        <img [src]="movie.poster" [alt]="movie.title">
        <mat-card class="movie-card" appearance="outlined">
            <mat-card-content>
                <h2>movie Details</h2>
                <mat-list role="list">
                    <mat-list-item>
                        <span matListItemTitle>Scheduled At:</span>
                        <span matListItemLine>{{movie.director.name}}</span>
                         <span matListItemIcon>
                            <i class="fa-solid fa-clock-rotate-left"></i>
                         </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>movie Number:</span>
                        <span matListItemLine>{{movie.movieId}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-plane-circle-exclamation"></i>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Airplane Model:</span>
                        <span matListItemLine>{{movie.runTime}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-font-awesome"></i>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>movie Type:</span>
                        <span matListItemLine>{{movie.description}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button (click)="doOrder()">
                    <i class="fa-solid fa-cart-shopping"></i> Book Now
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
